.Spinner {
    -fx-skin: "ch.scbirs.trainingmanager.uicontrols.SpinnerSkin";
    /*-fx-background: red*/
}

.Spinner .increment  {
    -fx-graphic: url('ArrowR.png')
}

.Spinner .decrement {
    -fx-graphic: url('ArrowL.png')
}