.Spinner {
    -fx-skin: "ch.scbirs.trainingmanager.uicontrols.SpinnerSkin";
}

.Spinner:invalid .text {
    -fx-border-color: red;
}

.Spinner .increment  {
    -fx-graphic: url('ArrowR.png')
}

.Spinner .decrement {
    -fx-graphic: url('ArrowL.png')
}